@font-face{
    font-family: "SourceSansPro";
    src:url("../Fonts/SourceSansPro-Regular.ttf");
    font-weight: normal;
    font-size: normal;
}

* {
    font-family: "SourceSansPro";
}

#confirmation-body-container{
    background-image: linear-gradient(to bottom right, gray, white);
}

#confirmation-body{
    margin-left: 20px;
}

/* nav */

#titlebar{
    background: white;
    width: 100%;
    height: 32px;
    -webkit-app-region: drag;
    position: relative;
    width: 100%;
    z-index: 0;
    opacity: .85;
}

#min-button{
    right: 40px;
}

#close-button{
    right: 10px;
}
.nav-button {
    -webkit-app-region: no-drag;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    z-index: 1;
    border: 1px solid lightblue;
    background: none;
    border-radius: 7px;
}

#yesDelete{
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    border: 5px;
}
#noDelete{
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    border: 5px;
}