@font-face{
    font-family: "SourceSansPro";
    src:url("../Fonts/SourceSansPro-Regular.ttf");
    font-weight: normal;
    font-size: normal;
}

* {
    font-family: "SourceSansPro";
}

#background-main{
    background: "#5e5a5a";
}

#main-header{
    text-align: center;
    color: white;
}

#credits{
    position:absolute;
    right:0px;
    bottom:0px;
}